<app-header></app-header>
<div>
    <form [formGroup]="resetPasswordForm">
        <div class="container-div">
            <h2>პაროლის აღდგენა</h2>
                <div class="input-div">
                    <label for="password">პაროლი</label>
                    <input type="password" name="password" placeholder="(მინიმუმ 8 სიმბოლო @*!Z)" formControlName="password">
                    <small *ngIf="resetPasswordForm.controls['password'].dirty && resetPasswordForm.hasError('required','password')">*შეიყვანეთ პაროლი!</small>
                </div>
                
                <div class="input-div">
                    <label for="password">გაიმეორეთ პაროლი</label>
                    <input type="password" name="confimPassword" placeholder="(მინიმუმ 8 სიმბოლო @*!Z)" formControlName="confimPassword">
                    <small *ngIf="resetPasswordForm.controls['confimPassword'].dirty && resetPasswordForm.hasError('required','confimPassword')">*გაიმეორეთ პაროლი!</small>
                </div>
            <button>დამახსოვრება!</button>
        </div>
        </form>
</div>
<app-footer></app-footer>
