.container{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
}
small{
    color: red;
    margin-left:20px ;
}
.container-div{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 350px;
    height: 350px;
    padding: 50px;
    border-radius: 20px;
    border: 1px solid #ECF2F8;
}
.input-div{
    display: flex;
    flex-direction: column;
}
.input-div input{
    margin-top: 5px;
    width: 300px;
    height: 50px;
    border-radius: 50px;
    border: 1px solid #ECF2F8;
    padding-left: 20px;
    font-size: 15px;
}
.input-div input::placeholder{
    color: #d8dbde;
}
.input-div label{
    color: #18A4E1;
    font-size: 20px;
    font-weight: bold;
    margin-left: 20px;
    margin-top: 20px;
}
.container-div button{
    margin-top: 30px;
    font-size: 15px;
    border: none;
    background-color: #053354;
    color: white;
    width: 135px;
    height: 40px;
    border-radius: 50px;
}
.container-div button:hover{
    cursor: pointer;
    transform: scale(1.03);
}