<footer>
  <div class="footer-main-div">
    <div class="logo-div">
        <img src="../../../../assets/images/logo 2.png" alt="">
        <h2>კლინიკა</h2>
    </div>
        <div class="info-div">
            <span></span>
            <div class="abouts">
                <h3>ინფორმაცია</h3>
                <p>ჩვენ შესახებ</p>
                <p>პარტნიორები</p>
                <p>ექიმებისთვის</p>
                <p>კლინიკებისთვის</p>
                <p>აფთიაქებისთვის</p>
            </div>
            <div class="abouts">
                <h3>პაციენტებისთვის</h3>
                <p>ექიმები</p>
                <p>კლინიკები</p>
                <p>ანოტაციები</p>
                <p>ბლოგი</p>
                <p>მედია</p>
            </div>
            <div class="abouts">
                <h3>კონტაქტი</h3>
                <p>სამუშაო დღეები:<br><br>
                    ორშ-პარ
                </p>
                <p>სამუშაო დრო:<br><br>
                    9:00-17:00
                </p>
                <p>იაკობ ნიკოლაძე №10</p>
                <p>032 2 100 100</p>
            </div>
            <div class="abouts">
                <h3>გამოგვყევით</h3>
                <p>Facebook</p>
                <p>Instagram</p>
                <p>Youtube</p>
            </div>
        </div>
  </div>
  <div class="copyright">
    <p>copyright</p>
</div>
</footer>